.navbar-item {
    color: var(--main-text-color);
    padding: 15px;
    margin: 0px;
    background-color: var(--basic-bg-color);
    text-decoration: none;
    display: block;
    text-align: center;
    float: left;
    overflow: hidden;
}

.navbar-start a:hover{
    background-color: var(--basic-hover-bg-color);
}