#sidenavbar {
    background-color: var(--basic-item-bg-color);
    padding: 15px;
    width: fit-content;
    border-top: 3px inset black;
    border-bottom: 3px inset black;
}

#sidenavbar ul, li {
    list-style-type: none;
}

#sidenavbar a {
    color: var(--main-text-color);
    text-decoration: none;
}